---
layout: default
---

<div class="home">

<h2>GROMACS</h2>

<ul>
{% for post in site.posts %}
{% for category in post.categories %}
{% if category == 'gromacs' %}
	<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %}
{% endfor %}
</ul>

<h2>更新順</h2>

<ul>
	{% for post in site.posts %}
	<li>
		<a href="{{ post.url | prepend: site.baseurl }}">{% for category in post.categories %}[{{category}}]{% endfor %}
		{{ post.title }}</a>
		<span class="post-meta">({{ post.date | date: "%b %-d, %Y" }})</span>
	</li>
	{% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
